.react-link:link{
    text-decoration: none;
    color: inherit;
}

.react-link:hover{
    text-decoration: none;
    color: inherit;
}

.react-link:visited{
    text-decoration: none;
    color: inherit;
}


.ui.container{
    width: 60%;
}