.react-link:link {
    text-decoration: none;
    color: inherit;
}

.react-link:hover {
    text-decoration: none;
    color: inherit;
}

.react-link:visited {
    text-decoration: none;
    color: inherit;
}

.ui.container {
    width: 80%;
}

.error-statement {
    color: red;
    font-size: 25px;
    margin-bottom: 10px;
    font-family: "Yanone Kaffeesatz", sans-serif;
}

@media only screen and (max-width: 750px) {
    .ui.container {
        width: 100%;
        padding: 0;
    }
}
