.account-info{
    background-color: green;
    color: white;
    height: 200px;
    margin: 40px auto;
    justify-content: center;
}

label, span{
    font-weight: bold;
}

.cardHeader{
    font-size: 20px;
    font-weight: bold;
}

#change-password-btn{
    width: 100px;
}

#change-password-message{
    margin-top: -20px;
    height: 50px;
}