.search-results{
    margin: 40px auto;
}

.card.product-cards{
    margin-top: 40px;
    border: none;
    box-sizing: none;
    background-color: #ffffff00;
}

.ui.massive.active.text.centered.inline.loader.center{
    margin-top: 10%;
}

