.Signup {
    margin-top: 10%;
}

.ui.horizontal.divider.signup-divider {
    margin-top: 30px;
    font-size: 30px;
    font-family: "Yanone Kaffeesatz", sans-serif;
}

.password-check-error{
    color: red;
}