@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }

  .ui green labeled icon button {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 470px) {
  div.center.login-center div.form-group {
    padding-top: 30px;
  }
}

.forgot-password{
  padding-top: 10px;
}