.checkout-details{
    width: 70%;
    margin: 40px auto;
}

#shipping-address p{
    margin-top: 15px;
    line-height: .5em;
}

#confirm-btn{
    width: 150px;
}

#edit-btn{
    display: inline-block;
}

