.featured{
    background-color: #636363;
    color: white;
    height: 500px;
    margin: 40px ;
    text-align: center;
}

#featuredimage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.productprice{
    text-align: center;
    font-size: 20px;
}

.cartbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}