.cart{
    text-align: center;
    font-size: 20px;
}

.cart p{
    color: green;
    font-weight: bold;
}

a.cart:link{
    text-decoration: none;
    color: inherit;
}

a.cart:hover{
    text-decoration: none;
    color: inherit;
}

a.cart:visited{
    text-decoration: none;
    color: inherit;
}