.header-logo {
    width: 100px;
}

.logo-div {
    height: 60px;
}

.search-bar {
    margin-top: 15px;
}

.right-div {
    font-size: 17px;
    text-align: center;
}

.dropdown-menu.show {
    background-color: #343a40;
    color: white;
}

a.dropdown-item {
    color: white;
}
a.dropdown-item:hover {
    background-color: inherit;
    color: gray;
}
a.dropdown-item button {
    width: 100%;
}

@media only screen and (max-width: 995px) {
    #desktop-header {
        display: none;
    }

    #mobile-header {
        display: block;
    }

    .right-div {
        text-align: center;
        font-size: 25px;
    }
    .header-logo {
        width: 100px;
    }
    #mobile-cart-count{
        font-size: 20px;
        position: absolute;
        padding-left: 10px;
    }
}

@media only screen and (min-width: 996px) {
    #desktop-header {
        display: block;
    }

    #mobile-header {
        display: none;
    }
}
