.saved-address{
    background-color: yellow;
    color: black;
    height: 200px;
    margin: 40px auto;
}

.ui.modal.transition.visible.active{
    top: 20%;
    width: 40%;
    left: 30%;
    height: 450px;
}

#model-buttons{
    width: 60%;
    margin: 0 auto;
}

div.actions button{
    width: 200px;
}

div.header{
    text-align: center;
    height: 60px;
}

@media only screen and (max-width: 995px) {
    .ui.modal.transition.visible.active{
        width: 100%;
        left: 0;
        overflow: auto;
    }

    div.ui.buttons button{
        width: 50%;
    }
}