.cart-page {
    margin-top: 70px;
    min-height: 70vh;
}

.header.sub {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
}

#cart-placeholder {
    margin-top: 5%;
}
