.center {
    text-align: center;
}

.order-segment-img img {
    max-height: 100px;
    max-width: 100px;
}

.order-segment-img {
    margin-top: 20px;
    height: 150px;
    justify-content: center;
    text-align: center;
    font-size: 10px;
}
