.product-details{
    margin-top: 40px;
}

.small-images {
    height: 300px;
}

.title {
    height: 700px;
}

.product-cta {
    border: green 1px solid;
    padding: 10px;
}

.inline {
    display: inline;
}

.inline-block{
    display: inline-block;
}

.price{
    text-align: center;
    width: 70px;
}

hr{
    background-color: green;
}

.select{
    width: 60px;
}

.col#description{
    margin-top: 10px;
}

.addToCartBtn{
    width: 200px;
    margin-top: 50px;
}

.cta-divs{
    margin-top: 10px;
    margin-bottom: 20px;
}

.cta-divs.addtocart{
    margin-top: 70px;
}

.inStock{
    color: green;
}

.limitedStock{
    color: orange;
}

.outOfStock{
    color: red;
}