.product-details{
    margin-top: 40px;
}

.small-images {
    height: 300px;
}

.title {
    height: 700px;
}

.product-cta {
    background-color: green;
    height: 700px;
}

.inline {
    display: inline;
}

.inline-block{
    display: inline-block;
}

.price{
    text-align: center;
    width: 70px;
}

hr{
    background-color: green;
}